.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: rgb(36, 0, 31);
  background: linear-gradient(
    39deg,
    rgba(36, 0, 31, 1) 6%,
    rgba(9, 9, 121, 1) 44%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 90%;

  &:nth-child(4n+1){
    background: rgb(20,62,145);
    background: linear-gradient(39deg, rgba(20,62,145,1) 4%, rgba(227,11,11,1) 45%, rgba(0,255,222,1) 100%);
  }

  &:nth-child(4n+2){
    background: rgb(94,4,4);
    background: linear-gradient(39deg, rgba(94,4,4,1) 4%, rgba(243,245,3,1) 45%, rgba(94,0,255,1) 100%);
  }

  &:nth-child(4n+3){
    background: rgb(44,164,112);
    background: linear-gradient(39deg, rgba(44,164,112,1) 7%, rgba(245,3,207,1) 42%, rgba(9,157,228,1) 100%);
  }

  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }

  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;

    .delete-icon {
      margin-right: 5px;
      color: rgb(0, 0, 0);
    }

    .edit-icon {
      color: rgb(252, 253, 253);
    }
  }
}
